* {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(90deg, #1e312c, #b2e5cd); */
}
.title {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  height: 6rem;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.7);
}
.content {
  display: grid;
  grid-template-columns: 0.2fr 1fr;

  height: 100%;
}
#actionBar {
  display: grid;
  width: auto;
  grid-template-rows: 1fr 7rem 2fr;
  grid-column: 1/2;
  grid-auto-flow: row;
  border-right: 3px solid rgba(0, 0, 0, 0.7);
  text-align: center;
  background-color: rgba(30, 30, 30, 0.5);
}
#buttonContainer {
  display: grid;

  gap: 16px;
  grid-auto-flow: row;

  grid-row: 1/2;
}
button {
  font-size: 20px;
  color: white;
  background: none;
  border: none;
  /* border-bottom: 3px solid white; */
  text-decoration: underline 3px solid white;
}

#projectContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#projectEntry {
  font-size: 20px;
  margin: 16px;
}
#projectHead {
  width: 100%;
  color: white;
  justify-self: center;
  padding-top: 20px;
  font-size: 30px;
  border-top: 3px solid rgba(0, 0, 0, 0.7);
}
#projectView {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2/3;
}
#addTodo {
  height: 40px;
  width: 40px;
  background-image: url(images/plus.svg);
  background-repeat: no-repeat;
}
dialog {
  width: 500px;
  height: 640px;
  margin: auto;

  overflow: hidden;
  border-radius: 16px;
}
form {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  gap: 20px;
  height: 100%;
  font-size: 20px;
  padding: 30px 0 0 0px;
}
form p {
  display: grid;
  grid-template-columns: 1em 1fr 1fr 1fr 1em;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  gap: 20px;
}
#title {
  grid-column: 2/5;
  text-align: center;
}
#description {
  grid-column: 2/5;
  text-align: center;
}
#date {
  grid-column: 3/5;
}
.dateLabel {
  grid-column: 2/3;
}
#priority {
  grid-column: 3/5;
}
.priorityLabel {
  grid-column: 2/3;
}

form div {
  display: grid;
  height: 50px;
  grid-template-columns: 1em 1fr 1fr 1fr 1em;
  gap: 20px;
}
#cancel,
#submit {
  color: black;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
#submit {
  grid-column: 4/5;
}
#cancel {
  grid-column: 2/3;
}
#todoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#todoBody {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(30, 30, 30, 0.5);
  color: white;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-radius: 10px;
  gap: 16px;
  padding: 8px;
  font-size: large;
}
#todoTitle {
  grid-row: 1/2;
}

#todoDescription {
  grid-row: 2/3;
  grid-column: 1/3;
}
#todoPriority {
  grid-column: 2/3;
  grid-row: 1/2;
}

#checkbox {
  grid-row: 2/3;
  grid-column: 3/4;
  border: 2px solid black;
  height: 25px;
  accent-color: green;
}
